* {
    padding: 0px;
    margin: 0px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 50px;
}

.container {
    display: grid;
    justify-content: center;
    align-self: center;
    width: 480px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
}

#main {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    background-color: gray;
}

.bottom {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button {
    display: flex;
    border-radius: 8px;
    padding: 5px;
}